<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Hash Lookup - PasteRight</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="yellow darken-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo black-text">PasteRight</a>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h4 class="header center black-text">Look up for upload / transaction history ...</h4>
        <form class="row center" method="post" action="/hashlookup">
            <input class="l8 offset-l2 validate" name="search-box" type="text" placeholder="Enter your hash here ...">
            <input class="btn" type="submit" value="SEARCH">
        </form>
        <br>

    </div>
</div>
{% if request.method == "POST" %}
<div class="container">
    <table class="responsive-table highlight">
        <tbody>
        <tr>
            <td >Hash</td>
            <td>{{ s["hash"] }}</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>UPLOAD</td>
        </tr>
        <tr>
            <td>Timestamp</td>
            <td>{{ s["timestamp"] }}</td>
        </tr>
        <tr>
            <td>Uploaded by</td>
            <td>{{ s["uploaded_by"] }}</td>
        </tr>
        <tr>
            <td>UUID</td>
            <td>{{ s["uuid"] }}</td>
        </tr>
        <tr>
            <td>Image</td>
            <td><img src="{{ s["url"] }}" alt="" class="responsive-img"></td>
        </tr>
        </tbody>
    </table>
</div>
{% endif %}

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="static/js/materialize.js"></script>
<script src="static/js/init.js"></script>

</body>
</html>
